<library path="src">
  <class name="My Plugin" type="rqt_mypkg.my_module.MyPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Python GUI plugin
    </description>
    <qtgui>
      
      <group>
        <label>User-Plugins</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      
      <label>Pfadplanung</label>
      <icon type="theme">system-help</icon>
      <statustip>GUI for pathplanning</statustip>
    </qtgui>
  </class>
</library>

